.classify-container .classify-list {
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    padding: 0 30px;
}


/* .classify-container .classify-list .more {
    animation: show 0.5s linear forwards;
} */

.classify-container .selected-list {
    border-bottom: 1px solid #F1F1F1;
    width: 939px;
    padding: 20px 0 15px;
}

.classify-container .selected-item {
    width: 878px;
}

.classify-container .classify-item {
    font-size: 12px;
    color: #999;
}

.classify-container .classify-item .classify-title {
    color: #333;
    font-weight: 600;
    margin-right: 29px;
    line-height: 24px;
    padding: 20px 0;
}

.classify-container .classify-item .classify-bar {
    background-color: #fff;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    text-align: center;
    margin: 0 12px 5px 0;
    padding: 4px 10px;
}

.classify-container .classify-item .classify-current {
    background-color: #FF4192;
    color: #FEFEFE;
}

.classify-container .classify-open {
    text-align: center;
    color: #999;
    font-size: 12px;
    line-height: 34px;
    cursor: pointer;
}

.classify-container .classify-open span,
.classify-container .classify-open img {
    display: inline-block;
    vertical-align: middle;
}


/* .classify-container .classify-open:hover{color: #ff4192;} */

.classify-container .classify-open img {
    margin-left: 9px;
}


/*书本列表*/

.bookList-container .book-container {
    background-color: #fff;
    margin-bottom: 20px;
}

.bookList-container .book-container .book-list {
    padding-bottom: 31px;
}

.bookList-container .book-container .book-item {
    border-bottom: 1px solid #F1F1F1;
    margin: 0 30px;
    padding: 30px 0;
}

.bookList-container .book-container .book-cover {
    width: 108px;
    height: 154px;
}

.bookList-container .book-container .book-info {
    margin-left: 23px;
    width: 640px;
}

.bookList-container .book-container .book-name {
    line-height: 1;
    margin-top: 13px;
}

.bookList-container .book-container .book-author {
    margin-top: 15px;
}

.bookList-container .book-container .book-label {
    font-size: 12px;
    color: #999;
    margin: 15px 0 0 20px;
}

.bookList-container .book-container .book-state {
    font-size: 12px;
    color: #999;
    margin: 15px 0 0 20px;
}

.bookList-container .book-container .book-hasLook {
    font-size: 12px;
    color: #999;
    margin: 15px 0 0 20px;
}

.bookList-container .book-container .book-introduce {
    font-size: 14px;
    color: #666;
    line-height: 24px;
    margin-top: 18px;
}

.bookList-container .book-container .book-update {
    font-size: 12px;
    color: #FF4192;
    line-height: 1;
    margin-top: 12px;
}

.bookList-container .book-container .book-hasUpdate {
    width: 8px;
    height: 8px;
    background-color: #FF4192;
    display: inline-block;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-right: 6px;
    vertical-align: 0.1ex;
}

.bookList-container .book-container .book-update-time {
    color: #B5B5B5;
    font-size: 12px;
    margin-left: 19px;
}

.bookList-container .book-container .btn-bookshelf {
    display: block;
    margin-top: 55px;
    width: 130px;
    height: 34px;
    border-radius: 34px;
}

.bookList-container .book-container .btn-read {
    display: block;
    width: 130px;
    height: 34px;
    border-radius: 17px;
    margin-top: 20px;
}