.interview-container{
    margin-bottom: 20px;
}
.interview-book-name {
    font-size: 12px;
    color: #666;
    padding: 20px 0 6px 0;
}

.link-interview-adv {
    display: block;
}

.link-interview-adv .advImg {
    width: 100%;
    display: block;
}

.interview-all-info {
    background-color: #fff;
    padding: 30px 55px;
    position: relative;
}

.interview-introduce-info {
    margin-bottom: 30px;
    
}
.interview-all-info .interview-line {
    position: absolute;
    top: 40px;
    left: 60px;
    height: 745px;
    border-right: 1px solid #FFD9E9;
}

.interview-all-info .interview-info .pink-dot {
    width: 10px;
    height: 10px;
    background-color: #FFD9E9;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 36px 0 0;
    margin-top: 8px;
    z-index: 5;
   
}
.interview-all-info .interview-info .interview-introduce-title {
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}

.interview-all-info .interview-info .interview-introduce-sort {
    font-size: 14px;
    color: #999;
    margin-bottom: 15px;
}

.interview-all-info .interview-info .cooperation-book-item {
    width: 120px;
    margin-right: 65px;
}

.interview-info .cooperation-book-item .link-cooperation-book {
    display: block;
}

.interview-info .cooperation-book-item .link-cooperation-book .cooperationImg {
    width: 120px;
    height: 170px;
    display: block;
}

.interview-info .cooperation-book-item .cooperation-book-name {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
    display: block;
}

.interview-info .cooperation-book-item .cooperation-book-author {
    font-size: 12px;
    color: #999;
    margin-top: 10px;
    text-align: center
}